<html>
    <body>
    <div class="center jumbotron">
      <%= form_tag(student_answers_path, method: 'post') do %>
        <% @questions.shuffle.each do |question| %>
          <h3><%= question.text %></h3>
          <% question.answers.shuffle.each do |answer| %>
            <% if answer.text != '' %>
              <input type="radio" name="<%= question.id %>" value="<%= answer.id %>" checked> <%= answer.text %><br>
            <% end %>
          <% end %>
        <% end %><br>
        <%= submit_tag 'Submit' %>
      <% end %>
    </div>
  </body>
</html>
