<%= form_tag(student_answers_path, method: 'post') do %>
  <% @questions.shuffle.each do |question| %>
    <h3><%= question.text %></h3>
    <% question.answers.shuffle.each do |answer| %>
      <input type="radio" name="<%= question.id %>" value="<%= answer.id %>"> <%= answer.text %><br>
    <% end %>
  <% end %>
  <%= submit_tag 'Submit' %>
<% end %>
